<section id="reference">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-6">
					<h2>다른 맛집 추천 사이트</h2>
				</div>
				<div class="col-lg-6">
					<ul class="list-inline banner-social-buttons">
						
						<li>
							<a href="https://www.diningcode.com/" class="btn btn-default btn-lg"><i class="fa fa-"DiningCode" fa-fw"></i> <span class="DiningCode">{{ social.title }}</span></a>
						</li>
						
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->